<h1 class='text-center my-5 fs-2'>Forgot your password?</h1>
<div class="card shadow p-3 my-5 d-flex justify-content-center m-auto mw-100 w-50">
  <%= form_with url: password_reset_path, data: { turbo: false } do |form| %>
    <div class="mb-3">
      <%= form.label :email, class: 'form-label' %>
      <%= form.email_field :email, class: 'form-control', placeholder: 'email' %>
      <%= link_to  "Sign In", sign_in_path %>
    </div>
    <div class="mb-3">
      <%= form.submit "Reset Password", class: 'btn btn-primary btn-lg' %>
    </div>
  <% end %>
</div>
